In [1]:
data <- read.csv("coviddataincome.csv")
summary(data)

            Entity            Code             year              Day
 Afghanistan   :  1178          : 18848   Min.   :2020   2022-12-12:   248
 Africa        :  1178   ABW    :  1178   1st Qu.:2020   2022-12-13:   248
 Albania       :  1178   AFG    :  1178   Median :2021   2022-12-14:   248
 Algeria       :  1178   AGO    :  1178   Mean   :2021   2022-12-15:   248
 American Samoa:  1178   AIA    :  1178   3rd Qu.:2022   2022-12-16:   248
 Andorra       :  1178   ALB    :  1178   Max.   :2023   2022-12-17:   248
 (Other)       :283063   (Other):265393                  (Other)   :288643
 Total.confirmed.cases.of.COVID.19
 Min.   :        1
 1st Qu.:     6482
 Median :    63392
 Mean   :  9393570
 3rd Qu.:   681625
 Max.   :762790388
 NA's   :18830
 Days.since.the.total.confirmed.cases.of.COVID.19.reached.100
 Min.   :-1033
 1st Qu.:  144
 Median :  444
 Mean   :  438
 3rd Qu.:  762
 Max.   : 1179
 NA's   :1521
 Income.classifications..World.Bank..2017..
                    :40395
 High income        :87172
 Low income         :35340
 Lower-middle income:61256
 Not categorized    : 1178
 Upper-middle income:64790